h1 {
  height: auto;
  padding: 5px 0 20px 0;
  display: flex;
  justify-content: center;
  font-size: 48px;
}

h1:hover {
  text-shadow: 0 0 50px white;
  color: whitesmoke;
}

p {
  margin: 5px;
}

span {
  color: rgb(7, 241, 183);
}

.container {
  width: auto;
  height: 62vh;
  padding: 0.5rem;
  display: grid;
}

.expliquations {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 100px 100px;
  grid-gap: 10px;
}

.principe__site,
.services__expliquations,
.details__expliquations,
.details__offres {
  padding: 1rem;
  font-size: 20px;
  border: 0.5px solid white;
  border-radius: 16px;
  background-color: #ffffff05;
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(20px);
}

.principe__site {
  grid-column: 1/55;
  grid-row: 1/3;
}
.principe__site :nth-child(3) {
  padding-top: 35px;
}

.services__expliquations {
  grid-column: 55/120;
  grid-row: 1/3;
}

.details__expliquations {
  grid-column: 1/75;
  grid-row: 3/3;
}

.details__offres {
  grid-column: 75/120;
}
