h1 {
  width: auto;
  height: auto;
  padding: 0 0 15px 0;
  display: flex;
  justify-content: center;
  font-size: 48px;
}

h4 {
  width: auto;
  height: auto;
  padding: 5px 0 10px 0;
  display: flex;
  justify-content: center;
  font-size: 30px;
  text-decoration: underline;
  text-underline-offset: 4px;
}

.container {
  width: auto;
  height: 60vh;
  padding: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container__offres__serveurs {
  display: flex;
  flex-direction: wrap;
  padding: 5rem;
  gap: 25px;
}

.offre__simple,
.offre__complete,
.offre__premium {
  height: min-content;
  padding: 1rem;
  font-size: 20px;
  border-radius: 16px;
  border: 1px solid white;
  background-color: #ffffff05;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(25px);
}

p {
  padding: 1vh;
}

span,
em {
  color: rgb(7, 241, 183);
  text-decoration: underline;
  text-underline-offset: 3px;
}

.offre__simple p:nth-child(4) {
  padding-top: 4rem;
  text-align: center;
  font-size: 25px;
}

.offre__complete p:nth-child(4) {
  padding-top: 4rem;
  text-align: center;
  font-size: 25px;
}
.offre__premium p:nth-child(4) {
  padding-top: 5.5rem;
  text-align: center;
  font-size: 25px;
}
