h1 {
  width: auto;
  height: auto;
  padding: 5px 0 20px 0;
  display: flex;
  justify-content: center;
  font-size: 48px;
  color: #9b9a9a;
  text-decoration: underline;
  text-underline-offset: 8px;
}

.container {
  width: auto;
  height: 61vh;
  padding: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  .container__offres {
    display: flex;
    flex-direction: wrap;
    padding: 5rem;
    gap: 20px;
  }
  .offre__simple,
  .offre__complete,
  .offre__premium {
    padding: 1rem;
    font-size: 20px;
    border-radius: 16px;
    border: 1px solid white;
    background-color: #ffffff05;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(25px);
  }
}

p {
  padding: 1rem;
}

span,
em {
  color: rgb(7, 241, 183);
  text-decoration: underline;
  text-underline-offset: 3px;
}
