@import url("https://fonts.googleapis.com/css2?family=Hanken+Grotesk:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
}

body {
  width: auto;
  height: 99vh;
  font-family: "Hanken Grotesk", sans-serif;
  background-image: url(/assets/layered-waves-haikei.svg);
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
}

nav,
footer {
  width: auto;
  height: 60px;
  display: flex;
  justify-content: space-between;
  padding: 12px;
}

.liens__reseaux,
.liens__pages {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.discord,
.github,
.accueil,
.offres__bots__page,
.offres__serveurs__page {
  color: whitesmoke;
  font-size: 20px;
  align-self: center;
  text-decoration: underline;
  text-underline-offset: 5px;
}

.accueil:hover {
  color: rgb(7, 233, 241);
  text-shadow: 0 0 50px white;
}

.discord:hover {
  color: rgb(7, 81, 241);
  text-shadow: 0 0 15px white;
}

.github:hover {
  color: rgb(7, 81, 241);
  text-shadow: 0 0 15px white;
}

.offres__bots__page:hover {
  color: rgb(7, 241, 183);
  text-shadow: 0 0 10px white;
}

.offres__serveurs__page:hover {
  color: rgb(7, 241, 183);
  text-shadow: 0 0 10px white;
}

footer {
  background-color: #ffffff05;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(25px);
}
